[submodule "res/kcd/vendor/espressif"]
	path = res/kcd/vendor/espressif
	url = git@github.com:espressif/kicad-libraries.git
[submodule "src/arrow"]
	path = src/arrow
	url = git@github.com:Neoxelox/arrow.git
[submodule "src/bow"]
	path = src/bow
	url = git@github.com:Neoxelox/bow.git
